{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center pet__details">
    <div class="card m-4">
        <img src="{{pet.photo_url}}" class="card-img-top" id="pet__image"
            alt="Image of {{pet.species}} named {{pet.name}}">
        <div class="card-body">
            <h5 class="card-title">{{pet.name}}</h5>
            <p class="card-text">Notes: {{pet.notes}}</p>
            <p class="card-text">Age: {{pet.age}}</p>
        </div>
    </div>
    <div class="m-5">
        <form action="/{{pet.id}}" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {{field.label}}
                {% if field.type == "BooleanField" %}
                {{field(class_="form-check-input")}}
                {% else %}
                {{field(class_="form-control")}}
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-success my-3">Edit</button>
        </form>

        <a href="/" class="btn btn-warning">Back</a>
    </div>
</div>
{% endblock %}